body{
  font-family: 'Roboto', sans-serif;
  /*max-height: 100%;*/
}

main .content{
  height: 100vh;
}
.main-content{
  height: 100vh;
}

.carsoual-main{
  position: relative;
  top: -3em;
  z-index: 20;
}

.custom-select{
  border-color: white;
  border: none;
}
.img-start-bg{
  height: 100vh;
  object-fit: contain;
}
.new{
  margin-left: auto;
  margin-right: auto;
}

.centered {
	  position: absolute;
    top: 68%;
    left: 0%;
    background-color: #EF5B5B;
    border-radius: 20px 20px 0px 0px;
    color: white;
    width: 100%;
    padding-top: 10%;
    padding-left: 5%;
    height: 32%;
    text-align: left;
    /*padding-bottom: 280px;*/
}

.text h1{
	font-size: 2.5em;
}

/*.text{
	margin-bottom: 40px;
}*/

.btn-text{
  padding-top: 8px;
  padding-right: 35px;
  padding-left: 35px;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel .carousel-indicators .active {
  background-color: #EF5B5B;
}

.carousel-indicators{
  bottom: -2.4375rem;
  top: 85%;
}

/*.cahead{
   position: absolute;
   left: 0%;
   padding-top: 10px;
   padding-bottom: 20px;
}*/

.carousel-caption h5{
  color: #EF5B5B;
  font-size: 2em;
}

.carousel-caption p{
  color: #8A8A8F;
}

.carousel-caption{
  top: 65%;
}

.btn{
  border-radius: 25px;
  border-color: #707070;
  border-width: 1px;
}

.btn-pink{
  background-color: #EF5B5B;
  color: white;
}

.btn-white{
  background-color: #FFFFFF;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-grey{
  background-color: #D3D3D3;
  color: #000000;
}

.btn i{
  padding-right: 15px;
}

.cahead a {
   color: #EF5B5B;
   text-decoration: none;
   font-size: 1.2em;
}

.hmform{
  margin:20px;
}

.hmform h5{
  margin-top:3vh;
}

.back-cta a i{
  color: #707070;
}

.title h5{
  color: #EF5B5B;
}

.form-group input{
  border-radius: 25px;
}

.login-footer{
  position: absolute;
  top: 92%;
  left: 0%;
}

.login-footer p a{
  color: #EF5B5B;
  text-decoration: none;
}

p.fp{
  margin-top: 10px;
  margin-left: 15px;
  color: #EF5B5B;
}

.login-form a{
  text-decoration: none;
}

.termsnconditions{
  text-align: center;
  margin-top: 20px;
}

.termsnconditions a{
  text-decoration: none;
  color: #EF5B5B;
}

.buttons a button{
    margin-bottom: 10px;
}

.searchbar{
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #F9F9F9;
}

.searchbtn{
  border-radius: 25px 0px 0px 25px;
  border: none;
  background-color: #F9F9F9;
}

input:focus, textarea:focus, select:focus{
        outline: none;
}

.card-btn{
  border-radius: 23px;
  background-color: white;
  position: relative;
  left: 67%;
  bottom: 170px;
  padding-left: 0px;
  padding-right: 0px;
}

