:root{
  --default-color: #EF5B5B;
  --
}

body{
  font-family: 'Roboto', sans-serif;
}

main .content{
  height: 100vh;
}

.main-content{
  height: 100vh;
}

.text-colored{
  color: var(--default-color);
}

.img-carousel-main{
  height: 72vh;
  width: 100%;
  object-fit: contain;
}

.carsoual-main{
  z-index: 20;
}

.custom-select{
  border-color: white;
  border: none;
}

.img-start-bg{
  height: 100vh;
  object-fit: contain;
}

.centered {
	  position: absolute;
    top: 68%;
    left: 0%;
    background-color: var(--default-color);
    border-radius: 20px 20px 0px 0px;
    color: white;
    width: 100%;
    padding-top: 10%;
    padding-left: 5%;
    height: 32%;
    text-align: left;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel .carousel-indicators .active {
  background-color: var(--default-color);
}

.carousel-indicators{
  bottom: 1vh;
}

.carousel-caption h5{
  color: var(--default-color);
  font-size: 2em;
}

.carousel-caption{
  top: 65%;
  bottom: initial;
}

.btn{
  border-radius: 25px;
  border-color: #707070;
  border-width: 1px;
}

.btn-pink{
  background-color: var(--default-color);
  color: white;
}

.btn-white{
  background-color: #FFFFFF;
  color: #000000;
}

.btn-grey{
  background-color: #D3D3D3;
  color: #000000;
}

.form-group input{
  border-radius: 25px;
}

.form-footer{
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 0%;
}

a{
  text-decoration: none;
  color: var(--default-color);
}

a:hover{
  text-decoration: none;
}

input:focus, textarea:focus, select:focus{
        outline: none;
}

.card-btn{
  border-radius: 23px;
  background-color: white;
  position: relative;
  left: 67%;
  bottom: 170px;
  padding-left: 0px;
  padding-right: 0px;
}

.searchbar{
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #F9F9F9;
}

.searchbtn{
  border-radius: 25px 0px 0px 25px;
  border: none;
  background-color: #F9F9F9;
}
